{% extends "main.html" %}

{% block content %}

<style>

    .home-container{
        display:grid;
        grid-template-columns:1fr 3fr 1fr;
    }

</style>


<div class="home-container">
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>
            <div>
                <a href="{% url "home" %}">All</a>
                <br><hr>
            </div>
            {% for x in topics %}
                <div>
                    <a href="{% url "home" %}?q={{x.name}}">{{x.name}}</a>
                    <br><hr>
                </div>
            {% endfor %}
        </div>
    </div>

    <div>        
        <small><a href={% url "create-room" %}>Click here to create a Room</a></small>
        <br>
        <h4>{{roomscount}} rooms available<h4>
        <div>
            <div>
                <hr>

                {% for x in rooms %}
                    <div>
                        <h4>@{{x.host.username}}</h4>
                        <small>{{x.topic.name}}</small><br>
                            <a href="{% url 'room' x.id %}">
                                <h3>RoomID: {{x.id}} --- {{x.name}}</h3>
                            </a>
                        <p>{{x.description | slice:":100"}}..</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <h3>Recent Activity</h3>
    </div>

</div>

{% endblock content %}