{% extends "main.html" %}

{% block content %}

    {% if pagetype == 'log' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label>Login</label>
            <div>
                <br>
                <label for="username">UserName</label>
                <input type="text" name="username" placeholder="Enter Username here"/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password here"/>
            </div>
            <div>
                <input type="submit" name="login"/>
            </div>
        </form>        
    </div>
    <br>
    <div>
        <h5>Haven't signedup <a href='{% url "register" %}'>click here to register</a></h5>
    </div>
    {% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
                <div>
                <label>Register</label>
                <br>
                {{form.as_p}}
                <input type="submit" name="register"/>
                </div>
            </div>
        </form>        
    </div>
    <br>
    <div>
        <h5>Already Signed up <a href='{% url "login" %}'>click here to login</a></h5>
    </div>
    {% endif %}

{% endblock content %}
