{% extends "main.html" %}

{% block content %}

<h1>
    This is My Rooms Page
</h1>

<div>
    <div>
        <hr>

        {% for x in myrooms %}
            <div>
                <h4>@{{x.host.username}}</h4>
                <h1>
                    <a href="{% url 'room' x.id %}">
                        RoomID: {{x.id}} --- {{x.name}}
                    </a>
                </h1>
                <small>{{x.topic.name}}</small><br>
                <small><a href='{% url "update-room" x.id%}'>Update Room</a></small>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}