{% extends "main.html" %}

{% block content %}

<style>

    .userprofile-container{
        display:grid;
        grid-template-columns:1fr 3fr 1fr;
    }

</style>


<div class="userprofile-container">
    {% include "base/topics_component.html" %}
     
    <div>
    <h1>{{user.username}}</h1>
    <h3><a href="{% url "my-room" %}">Show my hosted Rooms Only</a></h3>
    {% include "base/roomfeed_component.html" %}
    </div>
   {% include "base/activity_component.html" %}

</div>

{% endblock content %}